
@{
    ViewData["Title"] = "Success";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="~/css/payment.css" rel="stylesheet" />

<h1>Payment Success</h1>

